@use '@/styles/utils' as *;

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: $iphone-width;
    height: $iphone-height;
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-text-primary;
    background-color: #1e1e1e;

    @media (min-width: #{$iphone-width + 1px}) {
        width: $samsung-width;
        height: $samsung-height;
    }
}

#root {
    height: 100%;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url('/public/img/bg/bg.png');
}

.btn {
    &--regular {
        all: unset;
        width: 59px;
        height: 22px;
        // height: 25px;
        font-size: 12px;
        font-weight: 600;
        color: $color-text-primary;
        text-align: center;
        background-color: transparent;
        border-radius: 15px;
        border: 1px solid $color-text-primary;

        &:hover {
            color: $color-text-accent;
            background-color: $color-text-primary;
            cursor: pointer;
        }

        &-selected {
            color: $color-text-accent;
            border: 1px solid $color-text-accent;
            background-color: $color-bg-secondary;

            &:hover {
                background-color: $color-bg-secondary;
                cursor: default;
            }
        }
    }

    &--nav {
        all: unset;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 5px 0 3px 0;
        background-color: transparent;

        &:hover {
            background-color: $color-text-primary;
            cursor: pointer;
        }

        @media (min-width: #{$iphone-width + 1px}) {
            display: flex;
            justify-content: center;
        }
    }

    &--nav:hover & {
        &__pic {
            color: $color-text-accent;
        }
        &__label {
            color: $color-text-accent;
        }
    }

    &--nav & {
        &__pic {
            width: 26px;
            min-height: 20px;
            // margin-bottom: 2px;
        }
        &__label {
            font-size: 10px;
            color: $color-text-primary;
            text-align: center;
        }
        &__mark {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17px;
            height: 17px;
            transform: translate(-90%, -20%);
            border-radius: 50%;
            background-color: #fb9818;
            color: $color-text-accent;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
        }
    }

    &--nav-selected {
        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }

    &--nav-selected & {
        &__pic {
            color: $color-text-accent;
        }
        &__label {
            color: $color-text-accent;
        }
    }

    &--iconed {
        all: unset;
        width: 18px;
        height: 18px;
        padding: 5px;
        border-radius: 50%;

        &:hover {
            background-color: $color-bg-secondary;
            cursor: pointer;
        }

        &-enlarged {
            width: 20px;
            height: 20px;
        }
    }

    &--iconed:hover & {
        &__pic {
            color: $color-text-accent;
        }
    }
}

.title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.main {
    display: flex;
    flex-direction: column;
}

.capital {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 0 15px;
    margin-bottom: 30px;

    @media (min-width: #{$iphone-width + 1px}) {
        height: scaleHeightIphoneToSamsung(48px);
    }

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;

        &--primary {
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 10px;
        }

        &--balance,
        &--on-hold {
            font-size: 12px;
            line-height: 9px;
        }
    }

    &__balance,
    &__on-hold {
        display: flex;
        justify-content: space-between;
        width: 130px;
    }

    &__balance {
        margin-bottom: 8px;
    }

    &__sum {
        text-transform: uppercase;
        color: $color-text-accent;

        &--primary {
            font-size: 33px;
            line-height: 22px;
        }
        &--balance,
        &--on-hold {
            width: 60px;
            font-size: 13px;
            line-height: 11px;
            // height: 11px;
            margin-top: -6px;
            font-weight: 700;
            // letter-spacing: 0.5px;
        }
    }

    &__coin {
        height: 15px;
        transform: translate(3.5px, 2px);
        margin: 0 0 0 3px;
    }
}
