$iphone-width: 375px;
$iphone-height: 667px;
$samsung-width: 412px;
$samsung-height: 846px;

$color-text-primary: #4d6078;
$color-text-accent: #ffffff;
$color-text-alert: #f2427e;

$color-bg-primary: #112135;
$color-bg-secondary: rgba($color-text-primary, 0.2);

@function scale($size) {
    @return $size * 1.2;
}

@function scaleWidthIphoneToSamsung($width) {
    @return $width * ($samsung-width / $iphone-width);
}
@function scaleHeightIphoneToSamsung($height) {
    @return $height * ($samsung-height / $iphone-height);
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: $iphone-width;
    height: $iphone-height;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $color-text-primary;
    background-color: #1e1e1e;

    // @media (min-width: #{$iphone-width + 1px}) {
    //     width: $samsung-width;
    //     height: $samsung-height;
    // }
}

#root {
    height: 100%;
}

.app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url('/public/img/bg/bg.png');
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    min-height: 70px;
    padding: 0 10px;
    background-image: url('/public/img/bg/bg2.png');
    background-position-x: center;
    background-size: 90%;
}

.btn {
    &--regular {
        all: unset;
        width: 58px;
        height: 22px;
        font-size: 11px;
        font-weight: 600;
        color: $color-text-primary;
        text-align: center;
        background-color: transparent;
        border-radius: 15px;
        outline: 1px solid $color-text-primary;

        &:hover {
            color: $color-text-accent;
            background-color: $color-text-primary;
            cursor: pointer;
        }

        &-selected {
            color: $color-text-accent;
            outline: 1px solid $color-text-accent;
            background-color: $color-bg-secondary;

            &:hover {
                background-color: $color-bg-secondary;
                cursor: default;
            }
        }
    }

    &--nav {
        all: unset;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 7px 0 5px 0;
        background-color: transparent;

        &:hover {
            background-color: $color-text-primary;
            cursor: pointer;
        }
    }

    &--nav:hover & {
        &__pic {
            color: $color-text-accent;
        }
        &__label {
            color: $color-text-accent;
        }
    }

    &--nav & {
        &__pic {
            width: 23px;
            min-height: 20px;
        }
        &__label {
            font-size: 9px;
            color: $color-text-primary;
            text-align: center;
        }
        &__mark {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 17px;
            height: 17px;
            transform: translate(-90%, -20%);
            border-radius: 50%;
            background-color: #fb9818;
            color: $color-text-accent;
            font-size: 10px;
            font-weight: 600;
            text-align: center;
        }
    }

    &--nav-selected {
        &:hover {
            background-color: transparent;
            cursor: default;
        }
    }

    &--nav-selected & {
        &__pic {
            color: $color-text-accent;
        }
        &__label {
            color: $color-text-accent;
        }
    }

    &--iconed {
        all: unset;
        width: 17px;
        height: 17px;
        padding: 5px;
        border-radius: 50%;

        &:hover {
            background-color: $color-bg-secondary;
            cursor: pointer;
        }
    }

    &__pic {
        color: $color-text-primary;
    }
}

.title {
    font-size: scale(13px);
    line-height: 13px;
    font-weight: 700;
}

.main {
    display: flex;
    flex-direction: column;
}

.capital {
    display: flex;
    justify-content: space-between;
    min-height: 45px;
    padding: 0 15px;

    &__balance,
    &__on-hold {
        display: flex;
    }

    &__title {
        text-transform: uppercase;

        &--primary {
            font-size: 10px;
            width: 105px;
            line-height: 14px;
        }

        &--balance,
        &--on-hold {
            font-size: 10px;
            width: 60px;
            line-height: 17px;
        }
    }

    &__sum {
        text-transform: uppercase;
        color: $color-text-accent;

        &--primary {
            font-size: 32px;
            line-height: 32px;
            letter-spacing: 1px;
        }
        &--balance,
        &--on-hold {
            width: 60px;
            font-size: 10px;
            line-height: 17px;
            font-weight: 700;
        }
    }

    &__coin {
        max-height: 1.1em;
        transform: translate(3.5px, 2px);
        margin: 0 10px 0 0;
    }
}

.chart {
    height: 210px;
    margin-bottom: 15px;
}

.bots {
    height: 210px;
    margin-bottom: 16px;
    padding: 0 15px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        padding: -1px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3 - 2px);
        height: 104px;
        margin: 1px;
    }
}

.bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-bg-secondary;
    border-radius: 5px;

    &:hover {
        background-color: $color-text-primary;
        cursor: pointer;
    }

    &--empty {
        &:hover {
            background-color: $color-bg-secondary;
            cursor: default;
        }
    }

    &--empty & {
        &__title {
            color: $color-text-primary;
        }
    }

    &--current {
        background-color: $color-text-primary;

        &:hover {
            cursor: default;
        }
    }

    &__image {
        &-wrapper {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 35px;
            margin-bottom: 8px;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 100%;
                background: rgba(128, 128, 128, 0.3);
                mix-blend-mode: darken;
                pointer-events: none;
            }
        }
        &-pic {
            display: block;
            width: 100%;
            height: auto;

            &--big {
                transform: translateY(-5px);
            }
        }
    }
    &__title,
    &__profit {
        font-size: 10px;
        line-height: 14px;
        font-weight: 700;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        color: $color-text-accent;
    }

    &__profit {
        color: #5ea753;

        &--alert {
            color: $color-text-alert;
        }
    }
}

.controls {
    display: flex;

    margin-bottom: 20px;
    padding: 0 15px;

    &__title {
        flex-basis: 50px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 11px;
        font-weight: 700;
    }

    &__btn:not(:last-child) {
        margin-right: 10px;
    }
}

.footer {
    width: 100%;
    height: 50px;
    margin-top: auto;

    &__items {
        display: flex;
        height: 100%;
        background-color: $color-bg-secondary;
    }

    &__item {
        width: 75px;
    }
}
